*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #CC95C0, #7AA1D2);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.input-box{
    display: flex;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
}

button{
    outline: none;
    border: none;
    padding: 16px 30px;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.2s all;
}

button:hover{
    transform: scale(1.05);
}
button:active{
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
    width: 80%;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./icons/unchecked.png);
    background-size: cover;
    left: 0px;
    top: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./icons/checked.png);
}

ul li span::before{
    content: '';
    background-image: url(./icons/trash.png);
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 450px;
    top: 8px;
    transition: 0.2s;
}

ul li span:hover::before{
    transform: scale(1.1);
}